body {
    background-color: #111827;
    font-family: 'Inter' sans-serif;
}

.mynav {
    background-color: #222f4d;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 40px auto;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 40px auto;
}

.textbox {
    padding: 20px;
    margin: 40px auto;
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: 'Inter' sans-serif;
}

.textbox h1 {
    font-size: 50px;
    color: white;
    font-weight:800;
}

.outerContainer h2 {
    color: white;
}

.textbox a {
    font-size: 16px;
}

.pfpImage img {
    max-width: 100%;
    width: 800px;
    height: auto;
    display: block;
    border-radius:28px;   
}

footer {    
    background:#222f4d;
    font-size: 15px;
    color:white;
    padding: 10px;
    text-align:center;
}

footer a.active {
    color: white;
    font-weight: bold;
}
